.form-join-start {
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.btn-join-start {
  margin-bottom: 1rem;
}

.btn-join-terminate {
  margin-bottom: 1rem;
}


.form-join-finish {
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}


